@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.card::-webkit-scrollbar { 
  width: 15px; 
} 

/* Track */
.card::-webkit-scrollbar-track { 
  background: transparent;
} 

/* Handle */
.card::-webkit-scrollbar-thumb { 
  background-color: rgb(5 96 253);
  border-radius: 9999px;
  border: 4px solid #F3F6FB;
} 

/* Handle on hover */
.card::-webkit-scrollbar-thumb:hover { 
  background: rgb(9, 84, 212);
  backdrop-filter: blur(10px);
}

/* Remover setas do input number */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}